/*Estilos del cuerpo de la página*/
body{
    background: lightgreen url(../img/Paisaje_Cancun4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
/*Estilos cabecera*/
/*header{
    min-height: 200px;
}*/
/*Estilos del encabezado*/
nav{
    min-height: 150px;
}
/*Estilos logo*/
.columna-logo img{
    margin-top: 2px;
    border-radius: 20px;
}
/*Estilos icons redes sociales*/
.columna-izquierda div{
    margin: 5px;
}
/*Estilos fuente slogan*/

header nav div .slogan{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
p{
    font-family: 'Indie Flower', cursive;
}